// Home page layout

.home,
.login {
    min-height: 100vh;
}

.home {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 4em 4em 4em 1vmin;
    gap: 1vmin;
}

.clients {
    grid-row: span 4;
    min-height: 100vh;
}

.clients__title,
.clients__li {
    padding: .5em;
}

.clients__li--selected {
    position: relative;

    &::after {
        position: absolute;
        width: 5px;
        height: 100%;
        right: 0;
        top: 0;
    }
}

.header,
.menu,
.table-category,
.table {
    grid-column: 2;
    padding: 1em;
}

.header, 
.menu,
.table-category__ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__search-input {
    width: 340px;
}

.menu {
    grid-row: 2;
}

.table-category {
    grid-row: 3;
}

.table-category__li--selected {
    position: relative;

    &::after {
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: -5px;
        left: 0;
    }
}

.table {
    grid-row: 4;
}

.table__header-item {
    padding: .5em 1em;
}

.table__message {
    margin: 1em;
}

// Login page layout

.login,
.login__form,
.login__group,
.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__title,
.login__group {
    margin-bottom: 1em;
}

.login__label,
.not-found__title {
    margin-bottom: .5em;
}
