// Home styles

.clients {
    background-color: azure;
    color: gray;
}

.clients__li,
.table-category__li {
    cursor: pointer;
}

.clients__li--selected {
    background-color: cyan;
    color: darkblue;
    font-weight: bold;

    &::after {
        content: "";
        background-color: red;
    }
}

.table__header {
    background-color: red;
    color: white;
}

.table-category__li--selected {
    &::after {
        content: "";
        background-color: red;
    }
}

// Code to make visible only for screen readers

.sr-only {
    position:absolute;
    width:1px;
    height:1px;
    padding:0;
    margin:-1px;
    overflow:hidden;
    clip:rect(0,0,0,0);
    border:0
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position:static;
    width:auto;
    height:auto;
    margin:0;
    overflow:visible;
    clip:auto
}